doctype html
html
	head
		title= title
		link(href='/stylesheets/d3style.css', rel='stylesheet')
		script(src='/javascripts/d3.min.js')
		
	body
		h3 shipment volume by device id since Sep, 2011
		script(type='text/javascript').
			var data =!{JSON.stringify(deviceArray)}; 
		script(src='/javascripts/d3-main.js')

