doctype html
html
	head
		title === FTC ===
		link(href='/stylesheets/d3style.css', rel='stylesheet')
		link(href='/stylesheets/jquery.dataTables.css', rel='stylesheet')
		script(src='/javascripts/jquery.min.js')
		script(src='/javascripts/jquery-ui-1.10.4.js')
		script(src='/javascripts/d3.min.js')
		script(src='/javascripts/jquery.js')
		script(src='/javascripts/jquery.dataTables.min.js')
		script(type='text/javascript').
			var devPkg =!{JSON.stringify(devPkg)}; 
		script(src='/front_JS/ajax_req.js')
		
	body
		h3 select your criteria to see test flow history


		form#queryForm(method='get')
			select#family(data-style="btn-info", name="family")
				optgroup(label='Select Device Family')
				option(value=2) == 2  series ==
				option(value=3) == 3  series ==
				option(value=4) == 4  series ==
				option(value=5) == 5  series ==
				option(value=6) == 6  series ==
				option(value=7) == 7  series ==
				option(value=999) == EasyPath ==

			select#device(data-style="btn-info", name="device")
				optgroup#deviceGrp(label='Select Device ID')

			select#package(data-style="btn-info", name="package")
				optgroup#packageGrp(label='Select Package')
					option -
					each package in packageArray
						option #{package}

			select(data-style="btn-info", name="grade")
				optgroup(label='Select TestGrade')
					option -
					each testgrade in testgradeArray
						option #{testgrade}

			select(data-style="btn-info", name="group")
				optgroup(label='Select TestGroup')
					option -
					each testgroup in testgroupArray
						option #{testgroup}

			select(data-style="btn-info", name="tp")
				optgroup(label='Select TestProg')
					option -
					option only-LV TestProg
					option non-LV TestProg
			
			input#btn_ftc_query(type='submit')
			br
			br
			br
			hr
			br

		table#ttResult.display(cellpadding='0', cellspacing='0', border='0', width='100%')
			thead
					tr
						th device
						th package
						th lotid
						th scd
						th testgrade
						th startDate
						th endDate
						th FTC-seq


			
