body {
	margin: 0;
	overflow: hidden;
	height: 100%;
	max-height: 100%;
	line-height: 1.5em;
	padding: 50px;
  font: 16px "sans-serif", Helvetica, Arial, sans-serif;
}
/*
|  header    |
| nav | main |
| nav | main |
*/
#header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	overflow: hidden; /* Disables scrollbars on the header frame. To enable scrollbars, change "hidden" to "scroll" */
	background: #B0B0B0;
}

#nav {
	position: absolute;
	top: 70px;
	left: 0;
	bottom: 0;
	width: 230px;
	background: #eee;
}

main {
	position: fixed;
	top: 70px; /* Set this to the height of the header */
	left: 230px;
	right: 0;
	bottom: 0;
	overflow: auto;
	background: #fff;
	margin-left: 20px; 
	overflow: scroll;
}

.innertube {
	margin: 15px; /* Provides padding for the content */
}

#logo {
	padding:10px;
}

.rBtnTime, #btnLabel{
	position: fixed;
	left: 20px;
}

.rBtnTime{
	margin-top: 15px;
	margin-bottom: 15px;
}

a {
  color: #00B7FF;
}

.displayButton{
	width: 175px;
	height: 25px;
}

td, th { text-align: left }

#ttResult td:nth-child(2) {
    text-align: left;
}

.ui-textfield {
	font: inherit;
	color: inherit;
	background: none;
	text-align: inherit;
	outline: none;
	cursor: text;
}

.center {
	position: fixed;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -80%);
}

#custom-templates .empty-message {
	padding: 5px 10px;
	text-align: center;
}

#custom-templates {
	float: left;
	padding-right: 20px;
	height: 30px;
}

#btn_search_query{
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	height: 30px;
}

/* ---- typeahead related CSS start ---- */
.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */

.tt-input {
	font-size: 20px;
}

.tt-hint {
	width: 396px;
	height: 30px;
	padding: 8px 12px;
	font-size: 20px;
	font: Helvetica;
	line-height: 30px;
	border: 2px solid #ccc;
	border-radius: 8px;
	outline: none;
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-dropdown-menu {
	width: 422px;
	margin-top: 12px;
	padding: 8px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
	padding: 3px 20px;
	font-size: 18px;
	line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
	color: #fff;
	background-color: #0097cf;

}

.tt-suggestion p {
	margin: 0;
}

.tt-cursor{
	color:#0033FF;
}
/* ---- typeahead related CSS end ---- */